---
layout: default
title: GraphQL Client
description: A beautiful full featured GraphQL client for every platform.
---

<section class="section features">
  <h2 class="headline-section">Apollo Client</h2>
  <div class="desc-section">A flexible, fully-featured GraphQL client for every platform</div>
  <div class="list-features">
    <div class="item-feature">
      <span class="icon-lightning"></span>
      <div class="meta">
        <div class="title-feature">Fully featured</div>
        <div class="desc-feature">
          Queries, caching, mutations, optimistic UI, subscriptions, pagination, server-side rendering, prefetching, and more.
        </div>
      </div>
    </div>
    <div class="item-feature">
      <span class="icon-heart-hollow"></span>
      <div class="meta">
        <div class="title-feature">Compatible</div>
        <div class="desc-feature">
          Works with every GraphQL server, 100% of the query spec, and every client-side technology.
        </div>
      </div>
    </div>
    <div class="item-feature">
      <span class="icon-shield"></span>
      <div class="meta">
        <div class="title-feature">Production ready</div>
        <div class="desc-feature">
          Used in critical production apps today by Meteor, NewSpring Church, and others.
        </div>
      </div>
    </div>
    <div class="item-feature">
      <span class="icon-users"></span>
      <div class="meta">
        <div class="title-feature">Community focused</div>
        <div class="desc-feature">
          Over 100 contributors and counting. Built by the community, for the community.
        </div>
      </div>
    </div>
    <div class="item-feature">
      <span class="icon-wrench"></span>
      <div class="meta">
        <div class="title-feature">Tooling friendly</div>
        <div class="desc-feature">
          Works with your favorite Redux tools, GraphQL editor plugins, and production services.
        </div>
      </div>
    </div>
    <div class="item-feature">
      <span class="icon-cog"></span>
      <div class="meta">
        <div class="title-feature">Flexible</div>
        <div class="desc-feature">
          Doesn't make any assumptions about your architecture, unlike other clients like Relay and Cashay.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section get-started">
  <div class="title-guides">Get Started Guides</div>
  <div class="picker-guides">
    <a class="item-guide" href="{{ site.url_projects_react }}">
      <img src="img/logo-reactjs.svg" class="image"/>
      <span class="title-item">React<span class="icon-arrow-right"></span></span>
    </a>
    <a class="item-guide" href="{{ site.url_projects_reactnative }}">
      <img src="img/logo-reactjs.svg" class="image"/>
      <span class="title-item">React Native<span class="icon-arrow-right"></span></span>
    </a>
    <a class="item-guide"  href="{{ site.url_projects_angular }}">
      <img src="img/logo-angular.svg" class="image"/>
      <span class="title-item">Angular 2<span class="icon-arrow-right"></span></span>
    </a>
    <a class="item-guide"  href="{{ site.url_projects_swift }}">
      <img src="img/logo-swift.svg" class="image"/>
      <span class="title-item">Swift<span class="icon-arrow-right"></span></span>
    </a>
    <a class="item-guide"  href="{{ site.url_projects_android }}">
      <img src="img/logo-android.svg" class="image"/>
      <span class="title-item">Android<span class="icon-arrow-right"></span></span>
    </a>
  </div>
</section>


<section class="section">
  <h2 class="headline-section">Queries</h2>
  <div class="desc-section">XXX: Pitch why Apollo is awesome for querying data.</div>

  {% include code-sample/carousel.html step=1 %}

  <h2 class="headline-section">Mutations</h2>
  <div class="desc-section">XXX: Pitch why Apollo is awesome for mutating data.</div>

  {% include code-sample/carousel.html step=2 %}
</section>
