<footer>
  <div class="list-contact">
    <a class="item-contact js-join-newsletter" href="">
      <span class="">
        <span class="icon-email image"></span>
        <span class="meta">
          <span class="title-contact">Join the newsletter</span>
          <span class="desc-contact">Sign up for email updates</span>
      </span>
    </a>
    <a class="item-contact js-join-slack" href="">
      <img src="img/logo-slack.svg" class="image"/>
      <span class="meta" style="font-weight:600;">
        <span class="title-contact">Chat about Apollo</span>
        <div class="desc-contact">Join the Slack channel</div>
      </span>
    </a>

    <a class="item-contact" href="{{ site.url_blog}}" target="_blank" >
      <img src="img/logo-medium.svg" class="image"/>
      <span class="meta">
        <span class="title-contact">Read the blog</span>
        <div class="desc-contact">Articles on Medium</div>
      </span>
    </a>

     <a class="item-contact" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
      <span class="icon-twitter image"></span>
      <span class="meta">
        <span class="title-contact">Follow on Twitter<span>
        <div class="desc-contact">Tweets from the team</div>
      </span>
    </a>


     <a class="item-contact" href="{{ site.url_youtube }}" target="_blank">
      <img src="img/logo-youtube.png" class="image"/>
      <span class="meta">
        <span class="title-contact">Watch GraphQL Videos<span>
        <div class="desc-contact">Subscribe to our channel</div>
      </span>
    </a>


  </div>
  <div class="btm-cap">
    <a href="https://www.meteor.io/" class="link tertiary">Meteor Development Group</a> |
    <a href="https://www.meteor.io/jobs/" class="link tertiary">Apply for a job!</a>
  </div>
</footer>
