<div class="sidebar">
  <div class="panel">
    <div class="panel-item active">
      <a href="{{ site.url }}">
        <span>Apollo Open Source</span>
      </a>
    </div>
    <div class="panel-item">
      <a href="{{ site.url_projects_react }}"><span>React</span></a>
    </div>
    <div class="panel-item">
      <a href="{{ site.url_projects_angular }}"><span>Angular</span></a>
    </div>
    <div class="panel-item">
      <a href="{{ site.url_projects_ios }}"><span>iOS</span></a>
    </div>
    <div class="panel-item">
      <a href="{{ site.url_projects_android }}"><span>Android</span></a>
    </div>
    <div class="panel-item">
      <a href="{{ site.url_projects_vanillajs }}"><span>Vanilla JS</span></a>
    </div>
    <div class="panel-item">
      <a href="{{ site.url_projects_server }}"><span>Server</span></a>
    </div>
    <div class="panel-item">
      <a href="{{ site.url_blog }}"><span>Blog</span></a>
    </div>
    <div class="panel-item">
      <a href="{{ site.url_community }}"><span>Community</span></a>
    </div>
  </div>
</div>
