<div class="nav dark">
  <div class="nav-group">
    <div class="nav-item">
      <a href="/"><img src="img/logo-apollo-space-left.svg" class="logo"/><img src="img/logo-apollo-subbrands-developers-space.svg" class="logo-subbrand" alt="Developers"/></a>
    </div>
  </div>

  <div class="nav-group right">
    <div class="nav-item show-desktop">
      <a class="link" href="{{ site.url_projects_react }}">React</a>
    </div>
    <div class="nav-item show-desktop">
      <a class="link" href="{{ site.url_projects_angular }}">Angular 2</a>
    </div>
    <div class="nav-item show-desktop">
      <a class="link" href="{{ site.url_projects_swift }}">Swift</a>
    </div>
    <div class="nav-item show-desktop">
      <a class="link" href="{{ site.url_projects_android }}">Android</a>
    </div>
    <div class="nav-item show-desktop">
      <a class="link" href="{{ site.url_projects_vanillajs }}">Vanilla JS</a>
    </div>
    <div class="nav-item show-desktop">
      <a class="link" href="{{ site.url_projects_server }}">Server</a>
    </div>
    <div class="nav-item show-desktop">
      <a class="link" href="{{ site.url_blog }}">Blog</a>
    </div>
    <div class="nav-item show-desktop">
      <a class="link" href="{{ site.url_community }}">Community</a>
    </div>
    <div class="nav-item show-mobile">
      <a class="link js-show-menu" href=""><span class="icon-menu"></span></a>
    </div>
  </div>
</div>
