<div class="nav light">
  <div class="nav-group">
    <div class="nav-item">
      <a href="/"><img src="img/logo-apollo-white-left.svg" class="logo"/></a>
    </div>
  </div>

  <div class="nav-group right">
    <div class="nav-item">
      <span class="tooltip-trigger">
        <span class="link">Services <span class="icon-arrow-down"></span></span>
        <div class="qtip-content">
          <div class="qtip-inner-content">
            <div class="list small">
              <a class="link" href="optics">Optics</a>
              <a class="link" href="optics">GraphQL consulting</a>
            </div>
          </div>
        </div>
      </span>
    </div>
    <div class="nav-item">
      <a class="link" href="{{ site.url_docs }}">Docs</a>
    </div>
    <div class="nav-item">
      <a class="link" href="{{ site.url_blog }}">Blog</a>
    </div>
    <div class="nav-item">
      <a class="link" href="contribute">Contribute</a>
    </div>
  </div>
</div>
