<div class="nav light">
  <div class="nav-group">
    <div class="nav-item">
      <a href="/"><img src="img/logo-apollo-white-left.svg" class="logo"/><img src="img/logo-apollo-subbrands-developers-white.svg" class="logo-subbrand" alt="Developers"/></a>
    </div>
  </div>

  <div class="nav-group right">
    <div class="nav-item show-desktop">
      <span class="tooltip-trigger">
        <span class="link">Projects <span class="icon-arrow-down"></span></span>
        <div class="qtip-content">
          <div class="qtip-inner-content">
            <div class="list small">
              <a class="" href="{{ site.url_projects_react }}">React & React Native <span class="icon-proceed"></span></a>
              <a class="" href="{{ site.url_projects_angular }}">Angular 2 <span class="icon-proceed"></span></a>
              <a class="" href="{{ site.url_projects_swift }}">Swift <span class="icon-proceed"></span></a>
              <a class="" href="{{ site.url_projects_android }}">Android <span class="icon-proceed"></span></a>
              <a class="" href="{{ site.url_projects_tools }}">Tools <span class="icon-proceed"></span></a>
              <a class="" href="{{ site.url_projects_corejs }}">Core JS <span class="icon-proceed"></span></a>
            </div>
          </div>
        </div>
      </span>
    </div>
    <div class="nav-item show-desktop">
      <a class="link" href="{{ site.url_blog }}">Blog</a>
    </div>
    <div class="nav-item show-desktop">
      <a class="link" href="{{ site.url_community }}">Community</a>
    </div>
    <div class="nav-item show-mobile">
      <a class="link js-show-menu" href=""><span class="icon-menu"></span></a>
    </div>
  </div>
</div>
