<div class="overlay overlay-screen-menu">
  <div class="overlay-close">
    <span class="icon-cross"></span>
  </div>
  <div class="overlay-content">
    <div class="overlay-panel">
      <a href="/" class="logo-wrapper">
        <span class="logo">{% include logo-apollo-left.html %}</span>
        <span class="subbrand">{% include logo-apollo-subbrand-developers.html %}</span>
      </a>
      <div class="menu">
        <div class="overlay-subheading">Projects</div>
        <a class="" href="{{ site.url_projects_react }}">React</a>
        <a class="" href="{{ site.url_projects_angular }}">Angular</a>
        <a class="" href="{{ site.url_projects_swift }}">Swift</a>
        <a class="" href="{{ site.url_projects_corejs }}">Core JS</a>
        <hr>
        <a href="{{ site.url_blog }}">Blog</a>
        <a href="{{ site.url_community }}">Community</a>
      </div>
    </div>
  </div>
</div>

<div class="overlay overlay-screen-contact">
  <div class="overlay-close">
    <span class="icon-cross"></span>
  </div>
  <div class="overlay-content">
    <div class="overlay-panel">
      <div class="overlay-heading">
        <div class="title-overlay">Join the newsletter</div>
      </div>
      <form id="newsletter-form" class="newsletter-form form-confirmable">
        <div class="fieldset">
          <div class="input-symbol left">
            <input type="email" name="email" placeholder="Enter your email address"/>
            <span class="icon-email"></span>
          </div>
          <button type="submit" class="btn primary">Sign up</button>
        </div>
        <div class="form-confirmation">
          <div class="note-form">
            Thank you! We'll be in touch shortly.
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="overlay overlay-screen-slack">
  <div class="overlay-close">
    <span class="icon-cross"></span>
  </div>
  <div class="overlay-content">
    <div class="overlay-panel">
      <div class="overlay-heading">
        <div class="title-overlay">Join Apollo Slack</div>
      </div>
      <form id="slack-form" class="slack-form form-confirmable">
        <div class="fieldset">
          <div class="input-symbol left">
            <input type="email" name="email" placeholder="Enter your email address"/>
            <span class="icon-email"></span>
          </div>
          <button type="submit" class="btn primary">Get my invite</button>
        </div>
        <div class="form-confirmation">
          <div class="note-form">
            Thank you! Check your email for your invite.
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
