@hero-breakpoint: 1200px;

.hero {
	background-color: @color-primary;

	.background-image( linear-gradient(from bottom, lighten(@color-primary, 3%) 0%, @color-primary 100%) );

	.clearfix;

	.hero-content {
		padding-left: 3rem;
		padding-right: 3rem;

		position: relative;

		padding-top: 2rem;

		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 1400px;
		margin: 0 auto;

		@media screen and (max-width: @hero-breakpoint) {
			.std-xpadding;
		}

		@media screen and (max-width: @hero-breakpoint) and (min-width: @breakpoint) {
			flex-direction: column;
		}
	}

	.headline-section {
		font-size: 3rem;
		.type-light;
		margin-bottom: 1.5rem;
		@media screen and (min-width: @breakpoint) { font-size: 4rem }
	}

	.desc-section {
		.font-m1;
		//.type-light;
		line-height: 1.2;
		margin-bottom: 2rem;
		@media screen and (min-width: @breakpoint) { .font-m2; line-height: 1.2 }
	}

	// Breakpoints
	// Everything is fine at > 1200 px width

	.hero-left {
		display: inline-block;
		color: @color-lightest;
		margin-bottom: 30px;

		@media screen and (min-width: @breakpoint) {
			flex: 1 0 400px;
		}

		@media screen and (max-width: @hero-breakpoint) and (min-width: @breakpoint) {
			flex: 0 0 200px;
			display: flex;
			margin-bottom: 30px;
			align-items: center;
			flex-direction: row;

			.hero-text {
				flex: 1 1 0;
			}

			.picker-guides {
				flex: 1 1 0;
				margin-left: 50px;
				.picker-text {
					display: none;
				}
			}
		}
	}

	.hero-right {
		flex: 1 0 680px;
		position: relative;
		margin-left: 50px;
		text-align: right;

		display: none;
		@media screen and (min-width: @breakpoint) { display: block }
		@media screen and (max-width: @hero-breakpoint) {
			width: 100%;
			margin: 0;
			flex-basis: 0;
		}

		.expo {
			box-shadow: 0 2px 5px rgba(0,0,0,.1);
			border: 1px solid #bbb;
			margin-bottom: -20px;
			background-color: @color-accent-cooler;

			.expo-loading {
				display: none;
				&:last-child {
					text-align: center;
					margin-top: 150px;
					color: @color-dark;
					display: block;
				}
			}
		}
	}
}

.list-features {
	.page-margins;
	overflow: hidden;
	text-align: left;

	.inline-block-whitespace;
	@media screen and (min-width: @breakpoint) { padding-top: 1.5rem; }

	.item-feature {
		.std-xpadding;
		display: inline-block;
		vertical-align: top;

		&:not(:last-child) { margin-bottom: 1.5rem; }

		@media screen and (min-width: @breakpoint) {
			//&:not(:last-child) { margin-bottom: 0; }
			width: 33.33%;

		}

		> [class*="icon-"] {
			font-size: 20px;
			float: left;
			color: @color-secondary;

			margin-right: 10px;
			margin-top: .25rem;
		}

		.meta { overflow: hidden; }

    a {
      font-weight: normal;
      color: inherit;
      text-decoration: underline;
    }

		.title-feature {
			.type-bold;
		}
	}
}


.title-guides {
	.subheading-caps(center);
	.font-s2;
	margin-bottom: 0.5rem;
	margin: 10px;
}

.picker-guides {
	.inline-block-whitespace;
	text-align: left;

	.rest-guides {
		display: flex;
	}

	.item-guide {
		.transition(all 200ms ease-out);
		//background: @color-lighter;
		border: 1px solid white;
		cursor: pointer;
		height: 5rem;
		margin-right: 5px;
		margin-left: 5px;
		margin-bottom: 10px;
		text-align: center;
		vertical-align: top;
		background-color: rgba(255, 255, 255, 0.05);

		flex: 1;

		&.double-wide {
			display: flex;
			justify-content: center;
			align-items: center;
			.image {
				margin: 10px;
			}
			.title-item {
				font-size: 20px;
				vertical-align: middle;
			}
			.icon-arrow-right {
				margin-left: 10px;

				// HAHA using important here sorry
				font-size: 15px !important;
			}
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}

		.image {
			display: inline-block;
			height: auto;
			margin-bottom: .5rem;
			margin-top: 1rem;
			vertical-align: top;
			width: 2rem;
		}

		.title-item {
			.transition(all 150ms ease-out);
			.font-s1;
			.type-semibold;
			color: @color-lighter;
			display: block;
			line-height: 1;
			text-indent: 6px;

			.icon-arrow-right {
				font-size: 8px;
				opacity: .8;
			}
		}
	}
}

.carousel {
	.page-margins;

	&:not(:last-child) { padding-bottom: 3rem; }

	.picker-carousel {
		.std-xpadding;
		text-align: left;
		@media screen and (min-width: @breakpoint) { text-align: center; }
		margin-bottom: 1.5rem;

		.btn {
			color: @color-mediumdark;
			cursor: pointer;

			&.active,
			&:hover {
				background-color: @color-mediumlight;
				color: @color-darkest;
			}
		}
	}

	.slides-carousel {
		overflow: hidden;
		position: relative;
		text-align: left;
		background: @color-lightest;
		box-shadow: rgba(0,0,0,.1) 0 1px 3px 0;

		.slide {
			position: relative;
			overflow: hidden;

			// Toggle into view
			display: none;

			&.active { display: block; }

			&:not(.empty):before {
				@media screen and (min-width: @breakpoint) {
					.position(absolute, 0,50%,0,auto, 1px);
				}

				background: @color-mediumlight;
				content: '';
				z-index: 0;
			}

			.snippet,
			.output {
				.std-xpadding;
				.std-ypadding;
				float: left;
				width: 100%;

				@media screen and (min-width: @breakpoint) {
					width: 50%;
				}
			}

			.snippet,
			.output {
				@media screen and (max-width: (@breakpoint - 1px)) {
					border-bottom: 1px solid @color-mediumlight;
				}

				.client, .schema {
					display:none;
					&.active {
						display: block;
					}
				}
			}

			.contribute {
				margin: 0 auto;
				padding: 6rem 0;
				text-align: center;
				width: 50%;

				.title-contribute {
					.font-m2;
					.type-light;
					margin-bottom: .5rem;
				}

				.message-contribute {
					margin-bottom: .75rem;
				}
			}

			.topcap {
				.clearfix;
				overflow: visible;
				margin-bottom: 1rem;

				.btn {
					margin-top: -6px;
				}

				.heading {
					.font-s2;
					.subheading-caps;
					color: @color-tertiary;
					float: left;
				}

				.cta-try {
					.font-s1;
					display: inline-block;
					vertical-align: top;
					margin-left: 20px;
				}
			}

			.snippet {
				pre,
				code {
					background: transparent;
					padding: 0;
					margin: 0;
				}

				pre {
					overflow: auto;
					width: 100%;
				}

				code {
					line-height: 1rem;
				}

				.hljs-line-numbers {
					.user-select(none);
					.type-code;

			    color: @color-medium;
					text-align: right;
			    -webkit-touch-callout: none;
					margin-left: -1rem;
					margin-right: 1rem;
				}
			}

			.output {
				position: relative;

				@media screen and (min-width: @breakpoint) {
					//triangle styles for desktop
					&:after,
					&:before {
						.transform(rotate(360deg)); //antialiasing webkit
						.position(absolute, 1.875rem, auto, auto, 0);
						content: '';
						display: block;

						//triangle
						width: 0;
						height: 0;
						border-style: solid;
					}

					&:before {
						//triangle
						border-width: 9px 0 9px 9px;
						border-color: transparent transparent transparent @color-lightest;

						left: -1px;
						z-index: 1;
					}

					&:after {
						border-width: 10px 0 10px 10px;
						border-color: transparent transparent transparent @color-light;

						margin-top: -1px;
						z-index: 0;
					}
				}

				.cta-try {
					float: right;
				}

				.output-content {
					clear: both;
					margin-top: 4px;
					iframe {
						border: 0;
						width: 100%;
						height: 100%;
					}
					img {
						width: 80%;
						margin: 0 10%;
					}
				}
			}
		}
	}
}

.slide.ios {
	.output-content {
		img {
			border: 1px solid @color-mediumdark;
		}
	}
}
