<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="layout">
      <div class="page" tabindex="1">
        {% include nav.html %}
				{{ content }}
        {% include footer.html %}
      </div>

      {% include overlays.html %}
    </div>
    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
    <script src="https://cdn.jsdelivr.net/velocity/1.2.3/velocity.ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/9.5.0/highlight.min.js"></script>
    <script src="js/highlightjs-line-numbers.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
      hljs.initLineNumbersOnLoad();
    </script>
    <script src="js/fastclick.js"></script>
    <script src="js/main.js"></script>
    <!--Segment track -->
    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      analytics.load("wgrIo8Bul0Ujl8USETG3DB6hONdy4kTg");
      analytics.page()
      }}();
    </script>
    <!--End Segment Track-->
  </body>
</html>
